<h1>Listing audits</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Entity</th>
    <th>Changes</th>
    <th>Created at</th>
  </tr>

<% @audits.each do |audit| %>
  <tr>
    <td><%= audit.event %></td>
    <td><%= audit.entity %></td>
    <td><%= audit.diff %></td>
    <td><%= audit.created_at %></td>
  </tr>
<% end %>
</table>
<br />